.wrapper {
  display: inline-block;
  text-align: center;
  min-width: 100px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "ibm-plex-sans", sans-serif;
  padding: 9px 16px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;

  + .wrapper {
    margin-left: 8px;
  }
  &.disable {
    opacity: 0.5;
    cursor: unset;
  }
  .icon + span {
    margin-left: 8px;
  }
  span + .icon {
    margin-left: 8px;
  }
}
// type
.rounder {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
}
.primary {
  background-color: var(--primary);
  color: var(--white);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    border-color: var(--primary);
  }
}
.outlinePrimary {
  border-color: currentColor;
  color: var(--primary);

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.outline {
  border-color: rgba(22, 24, 35, 0.12);
  color: var(--text-color);
  font-weight: 400;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.text {
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

// size
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  min-width: 148px;
  padding: 14px 16px;
}
