.menu-list {
  width: 224px;

  .menu-item {
    margin-left: 0 !important;
    width: 100%;
    text-align: left;
    border-radius: 0;
    font-weight: 500;
    color: var(--text-color);
    height: 42px;

    &.seperate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
  }
}
.menu-popper {
  padding-bottom: 8px;
}

// header

.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}
.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
